@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}


// walletAccount
.walletAccount{
  // pagination
  .el-pagination{
    //当前总页数
    .el-pagination__total{
      color:#7F8FA4 !important;
      font-size:14px !important;
      width:88px !important;
      height:36px !important;
      border:1px solid #CED0DA;
      text-align: center;
      line-height: 36px !important;
      border-radius:4px;
      cursor:pointer;
    }
    //选择页数
    .el-input__inner{
      color:#7F8FA4 !important;
      font-size:14px !important;
      // width:88px !important;
      height:36px !important;
      border:1px solid #CED0DA;
    }
    //后退
    .btn-prev,.btn-next{
      width:36px !important;
      height:36px !important;
      border:1px solid #CED0DA;
      border-radius:4px;
      text-align: center;
      padding-left:12px;
      margin-right:15px;
      color:#7F8FA4 !important;
    }
    .btn-next{
      margin-left:15px !important;
    }
    //
    //页码
    .el-pager{
      height:36px;
      .number{
        width:36px !important;
        height:100% !important;
        border:1px solid #CED0DA;
        border-radius:4px;
        text-align: center;
        line-height: 36px !important;
        margin-right:10px;
        color:#7F8FA4 !important;
      }
    }
    //跳转页码
    .el-pagination__jump{
        width:124px !important;
        height:36px !important;
        border:1px solid #CED0DA;
        border-radius:4px;
        line-height: 36px !important;
        display:block;
        text-align: center !important;
        background:#CED0DA;
        color:#fff !important;
        .el-input{
          float:right;
          width:68px;
          height:100%;
          overflow:hidden;
          padding:0;
          margin:0;
          border-top-left-radius:0 !important;
          border-bottom-left-radius:0 !important;
          .el-input__inner{
            border:none;
            border-radius: 0 !important;
            
          }
        }
    }
    
  }
  //取消单选按钮el-radio__label的样式
  .el-radio{
    .el-radio__input{
      .el-radio__inner{
        width:26px !important;
        height:26px !important;
      }
    }
    .el-radio__input.is-checked .el-radio__inner{
      background:#F5A623;
      border-color:#F5A623;
    }
    .el-radio__inner:hover{
      border-color:#F5A623;
    }
    .el-radio__inner::after{
      width:6px !important;
      height:6px !important;
    }
    .el-radio__label{
      display:none !important;
    }
  }
  //弹出框样式调整
  .el-button{
    span{
      display:inline-block;
      width:250px;
      height:50px;
      border-radius:4px;
      background:#FFA800;
      margin-left:147px;
      color:#fff;
      font-size:16px;
      text-align: center;
      line-height: 50px;
    }
    
  }
}


